@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: "Open Sans", serif;   
    background: no-repeat top/100% url(Img/books.jpg);
}

.wrapper{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background: rgba(245, 241, 241, 0.5);
}

.Books_Search{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;   
}

h1,h2,h3,h4,h5,h6{
    padding: 15px;
    color: rgb(5, 0, 0);
}

.Books_Sorting{
    width: 100%;
    display: flex;
    justify-content: center;
}

.Category{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.Sorting{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.Books_Results{
    margin: 0 auto;
    text-align: center;    
    width: 80%;
    display: flex;
    justify-content: center;    
}